<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Reset your password</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">

</head>
<body>



<!--<p>Please enter your email adress bellow:</p>-->
<!--<form action="accounts/reset_done/" method="get">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit" title="Login to your TO DO list." style="text-decoration:none">Send me instructions</button>-->
<!--    <a href="{% url 'reset_done' %}" title="Go back to Home Page">Cancel</a>-->
<!--</form>-->

<div class="container" style="padding-top: 50px; text-align: center;">
    <p style="font-size: 40px;">Password reset form = <strong style="color: red;">404</strong></p>
    <h1 style="color: red; font-size: 200px; font-family: 'Tangerine'; ">Forget your account!</h1>
    <p>Better create a new one or try to remember your old account details.</p>
    <p><a class="btn btn-outline-primary btn-sm" href="{% url 'login' %}" title="Login to your TO DO list." style="text-decoration:none">Log In</a>
    or <a class="btn btn-outline-primary btn-sm" href="{% url 'signup' %}" title="Login to your TO DO list." style="text-decoration:none">Sign up</a></p>
    <p><img style="margin-bottom: 10px;" src={% static 'images/gone.jpg' %}> </p>
</div>

</body>
</html>