<!--NAUDOJAMA BOOTSTRAP VERSION 4.6! -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>DoVision</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to DoVision!</h1>
            <p class="lead">This is a simple to do list app.</p>
            <hr class="my-4">
            <p>You can choose what you want to do from items below:</p>
            <tr>
                <a class="btn btn-secondary" href="#" role="button">Clear ALL</a>
                <a class="btn btn-secondary" href="#" role="button">About Us</a>
            </tr>
            <p><br></p>

            <form method="POST" action="/">
                {% csrf_token %}
                {{ form.title }}
                <input type="submit" name="Add Task">
            </form>

                <ul  class="taskList">

                    {% for task in tasks %}
                        <div>
                            <a href="{% url 'update_task' task.id %}">Update</a>
                            <a href="{% url 'delete' task.id %}">Delete</a>
                            {% if task.completed == True %}
                            <strike>{{task}}</strike>
                            {% else %}
                            <span>{{task}}</span>
                            {% endif %}
                        </div>
                    {% endfor %}

                </ul>
    </div>

</body>
</html>